<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- shrink-to-fit=no -->

    <!-- Link For Css -->
    <link rel="stylesheet" href="../Static/css/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>The Website</title>
  </head>
  
  
  
  <body>
    
    <!-- COPY THIS NAVBAR FORMAT TO EVERY PAGE -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">
            <img src="../Static/img/mom_logo.png" width="60" height="60" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="MyNavbar">
            <!--ml-auto aligns navbar items to right-->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                <a class="nav-link" href="index.html">ABOUT <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="services.html">SERVICES</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="podcast.html">PODCAST</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- END OF NAVBAR FORMAT -->
    
    <div class="top_img_container">
        <img src="../Static/img/kingdom_hearts.jpeg"  class="container_img" />
    </div>

    <div class="separate">
        <div class="separate_text"> WHAT CAN I DO YA FOR? </div>
    </div>

    <div class="description">
        <p class="description_text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    </div>

    <div class="consultation_box">
        <img class="consultation_img" src="../Static/img/point_riku.png" width="490" height="260" alt="">
        <h1 class="consultation_head"> WE WANT YOU... I think? </h1>
        <p class="consultation_body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <button id= "consult_btn" type="button" class="btn btn-primary btn-lg float-right mr-5 pr-5">Don't Press</button>
    </div>

    <div class="bootcamp_box">
        <img class="bootcamp_img" src="../Static/img/org13.jpg" width="490" height="260" alt="">
        <h1 class="bootcamp_head"> Organization 13 Bootcamp </h1>
        <p class="bootcamp_body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <button id= "consult_btn" type="button" class="btn btn-primary btn-lg float-right mr-5 pr-5">Don't Press</button>
    </div>
    
    <div class="signature_box">
        <img class="signature_img" src="../Static/img/xion_roxas.jpeg" width="490" height="260" alt="">
        <h1 class="signature_head"> Signatures From Nobodies </h1>
        <p class="signature_body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <button id= "consult_btn" type="button" class="btn btn-primary btn-lg float-right mr-5 pr-5">Don't Press</button>
    </div>
    

    <div class="book_box">
        <img class="book_img" src="../Static/img/kh_book.png" width="490" height="260" alt="">
        <h1 class="book_head"> This book looks pretty dangerous. Don't buy it. </h1>
        <button id= "consult_btn" type="button" class="btn btn-primary btn-lg float-center mr-5 pr-5">Don't Press</button>
    </div>


    <div class= "foot_box">
        <div class= "foot_text"> This is the Footer </div>
    </div>
   

    <!-- <div class="footbox">
        <hr class="_divider">

        <div class="footer">
            <p>This is the footer.</p>
        </div>
    </div> -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>